<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBixymNfR2iLOzzNvvUsUBW2Bc6alNGKdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>452248149004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jackmarvelsapp.dev</string>
	<key>PROJECT_ID</key>
	<string>alpha-vlogs-cf60a</string>
	<key>STORAGE_BUCKET</key>
	<string>alpha-vlogs-cf60a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:452248149004:ios:4d605dcccaca75e8af2229</string>
</dict>
</plist>
